@media screen and (min-width: 1441px){
    .repair-contact .contact__content{
        justify-content: center;
    }
    .tuning-contact .contact__right{
        max-width: 608px;
    }
}
@media screen and (max-width: 1340px) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .repair__left{
        max-width: 650px;
    }
    .repair__right{
        max-width: calc(100% - 690px);
    }
    .contact-page .repair__left {
        max-width: 550px;
    }
    .contact-page .repair__right{
        max-width: calc(100% - 570px);
    }
}
@media screen and (max-width: 1200px) {
    .banner__title{
        white-space: wrap;
    }
    .banner__left{
        padding-left: 50px;
        padding-top: 50px;
    }
    .banner__features{
        margin-bottom: 40px;
    }
    .service__item--left{
        position: relative;
        z-index: 1;
    }
    .autoservice__left{
        max-width: 500px;
    }
    .autoservice__right{
        max-width: calc(100% - 540px);
    }
    .special-banner__content{
        margin-top: 120px;
    }
    .special-banner__left{
        max-width: 500px;
    }
    .special-banner__right{
        max-width: calc(100% - 520px);
    }
    .special-banner__right .btn__red{
        margin-top: 20px;
    }
    .point__title{
        font-size: 20px;
    }
    .tuning-contact .contact__left{
        max-width: 650px;
    }
    .tuning-contact .contact__right{
        max-width: calc(100% - 650px);
    }
    .project__left{
        max-width: 750px;
    }
    .project__right{
        max-width: calc(100% - 770px);
    }
    .project__left img{
        height: 100%;
        object-fit: cover;
    }
    .help__left{
        max-width: 650px;
    }
    .help__right{
        max-width: calc(100% - 690px);
    }
    .about-contact .contact__left{
        max-width: 750px;
    }
    .about-contact .contact__right{
        max-width: calc(100% - 750px);
    }
    .about .repair__left{
        max-width: 550px;
    }
    .about .repair__right{
        max-width: calc(100% - 590px);

    }
}
@media screen and (max-width: 1100px) {
    .repair__left {
        max-width: 550px;
    }
    .repair__right{
        max-width: calc(100% - 590px);
    }
    .about-contact .contact__left{
        max-width: 650px;
    }
    .about-contact .contact__left img{
        z-index: 1;
        object-position:80%;
    }
    .about-contact .contact__right{
        max-width: calc(100% - 650px);
    }
}
@media screen and (max-width: 1024px) {
    .banner__right{
        max-width: 500px;
    }
    .banner__left{
        max-width: calc(100% - 500px);
        padding-bottom: 50px;
    }
    .banner__actions{
        flex-direction: column;
    }
    .banner__title{
        font-size: 48px ;
    }
    .btn__red{
        text-align: center;
    }
    .btn__gray--opacity{
        text-align: center;
    }
    .service__item{
        width: calc(100%/2 - 10px);
    }
    .autoservice__left{
        max-width: 450px;
    }
    .autoservice__right {
        max-width: calc(100% - 470px);
    }
    .autoservice__content{
        gap: 20px;
    }
    .special-banner__right h2{
        font-size: 36px;
    }
    .feature__item{
        width: calc(100%/2 - 10px);
    }

    .calculator__top h3{
        font-size: 24px;
    }
    .calculator__right{
        max-width: 400px;

    }
    .calculator__left{
        max-width: calc(100% -  440px);
    }
    .section__title{
        font-size: 46px;
    }
    .mark__item img{
        max-width: 70%;
    }
    .footer__col:first-child{
        margin-right: 30px;
    }
    .footer__tel{
        font-size: 16px;
    }
    .footer__menu a{
        font-size: 14px;
    }
    .footer__bottom a{
        font-size: 14px;
    }
    .banner__left{
        position: relative;
        z-index: 1;
    }
    .repair-contact .contact__right h2{
        font-size: 30px;
    }
    .repair__right .section__title{
        font-size: 30px;
    }
    .repair__actions{
        flex-wrap: wrap;
    }
    .repair__actions .btn__blue:first-child{
        width: 100%;
    }
    .point__item{
        width: calc(100%/2 - 10px);
    }
    .point__list{
        flex-wrap: wrap;
        gap: 60px 20px;
    }
    .diagnostic__item{
        width: calc(100%/2 - 10px);
    }
    .price__content{
        flex-direction: column;
    }
    .price__list{
        width: 100%;
    }
    .faq__content{
        flex-direction: column;
    }
    .faq__right{
        max-width: 100%;
    }
    .repair-contact .contact__content{
        padding-left: 40px;
    }
    .tuning-contact .contact__left{
        max-width: 550px;
    }
    .tuning-contact .contact__right{
        max-width: calc(100% - 550px);
    }
    .project__content{
        flex-direction: column;
    }
    .project__left {
        max-width: 100%;
    }
    .project__left img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .project__right{
        max-width: 100%;
    }
    .news__item{
        width: calc(100%/2 - 10px);
    }
    .news-inner__right{
        max-width: 350px;
    }
    .news-inner__left {
        max-width: calc(100% - 380px);
    }
    .about .repair__left {
        max-width: 500px;
    }
    .about .repair__right{
        max-width: calc(100% - 520px);
    }
    .history__list{
        flex-wrap: wrap;
    }
    .history__item{
        width: calc(100%/2 - 10px);
    }
    .about-contact .contact__left {
        max-width: 550px;
    }
    .about-contact .contact__content{
        padding-left: 0;
    }
    .about-contact .contact__right {
        max-width: calc(100% - 550px);
    }
    .help__left {
        max-width: 550px;
    }
    .help__right {
        max-width: calc(100% - 590px);
    }
    .contact-page .repair__content{
        flex-direction: column;
    }
    .contact-page .repair__left{
        max-width: 100%;
    }
    .contact-page .repair__right{
        max-width: 100%;
    }

}

@media screen and (max-width: 900px){
    .banner__content{
        flex-direction: column-reverse;
    }
    .banner__right{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .banner__right img{
        position: relative;
        max-width: 400px;
    }
    .banner__left{
        max-width: 100%;
        padding-right: 40px;
    }
    .banner__title{
        text-align: center  ;
    }
    .banner__text{
        text-align: center;
        margin: 0 auto 20px;
    }
    .banner__features{
        justify-content: center;
    }
    .service__item h3{
        font-size: 20px;
    }
    .autoservice{
        padding-top: 60px;
    }
    .autoservice__content{
        flex-direction: column;
        align-items: center;
    }
    .autoservice__right{
        max-width: 100%;
    }
    .special-banner__content{
        flex-direction: column;
        background: none;
        margin-top: 60px;
    }
    .special-banner__left img{
        position: relative;
    }
    .special-banner__right{
        background: url('../images/special.png');
        max-width: 100%;
        padding: 50px;
        border-radius: 8px;
    }
    .special-banner__left{
        max-width: 400px;
        width: 100%;
        margin: 0 auto -20px;
        z-index: -1;
    }
    .special-banner__right h2{
        text-align: center;
    }
    .special-banner__right p{
        text-align: center;
    }
    .special-banner__right .btn__red{
        margin: 20px auto 0;
    }
    .features{
        padding-top: 60px;
    }
    .calculator{
        padding-top: 60px;
    }
    .calculator__content{
        flex-direction: column;
        background: none;
    }
    .calculator__left{
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
    }
    .calculator__left img{
        position: relative;
    }
    .calculator__right{
        max-width: 100%;
        background: url("../images/calc-bg.png") no-repeat;
        padding: 50px;
        border-radius: 8px;
    }
    .calculator__block{
        margin-top: 0;
    }
    .calculator__top{
        padding: 20px;
    }
    .calculator__body{
        padding: 20px;
    }
    .calculator__bottom{
        padding: 20px;
    }
    .review{
        padding-top: 60px;
    }
    .review__item{
        width: 100%;
        height: auto;
        min-height: auto;
    }
    .review__list{
        flex-wrap: wrap;
    }
    .mark__item{
        height: 120px;
    }
    .contact{
        padding-top: 60px;
    }
    .contact__content{
        flex-direction: column-reverse;
        height: auto;
        background-size: cover;
        gap: 20px;
    }
    .contact__left img{
        position: relative;
    }

    .contact__right{
        margin: 0 auto;
    }
    .form__row{
        width: 100%;
    }
    .contact__right .btn__red{
        width: 100%;
    }
    .contact__left img{
        max-width: 400px;
    }
    .map{
        margin-top: 60px;
    }
    .footer__top{
        flex-wrap: wrap;
    }
    .footer__col{
        width: calc(100%/3);
        justify-content: center;
        align-items: center;
    }
    .footer__col:first-child{
        width: 100%;
    }

    .footer__col:first-child{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__address p{
        text-align: center;
    }
    .footer__link{
        text-align: center;
    }
    .footer__col:last-child{
        margin-left: 0;
        width: 100%;
        text-align: center  ;
    }
    .footer__col:last-child h3{
        text-align: center;
    }
    .footer__col:last-child p{
        text-align: center;
    }
    .footer__tel{
        justify-content: center;
    }
    .header__phone--number{
        font-size: 16px;
    }
    .btn__request{
        font-size: 12px;
    }
    .header__logo{
        width: 150px;
    }
    .repair__content{
        flex-direction: column;
        gap: 30px;
    }
    .repair__right{
        max-width: 100%;
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 40px;
        padding-right: 20px;
    }
    .repair__actions{
        flex-wrap: nowrap;
    }
    .repair__actions .btn__blue:first-child{
        width: auto;
    }
    .repair-contact .contact__content{
        flex-direction: column;
        gap: 0;
        padding-left: 0;
    }
    .repair-contact{
        height: auto;
        background: transparent;
        padding-top: 0;
    }
    .repair-contact .contact__left{
        max-width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .repair-contact .contact__right{
        max-width: 100%;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .repair-contact .contact__right form{
        max-width: 480px;
        width: 100%;
    }
    .repair-contact .contact__right .btn__red{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .repair-contact .contact__right h2{
        text-align: center;
    }
    .repair-contact .contact__right p{
        margin: 0 auto 10px;
        text-align: center;
    }
    .repair-contact .contact__right form{
        margin: 0 auto;
    }
    .news__tag{
        flex-wrap: wrap;

    }
    .related-news .news__item {
        width: calc(100% / 2 - 10px);
    }
    .news-inner__content{
        flex-direction: column;
    }
    .news-inner__left {
        max-width: 100%;
    }
    .news-inner__right{
        max-width: 100%;
    }
    .adv{
        height: 300px;
    }
    .related-news{
        padding-top: 80px;
    }
    .about .repair__right{
        max-width: 100%;
    }
    .about-contact .contact__right{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about-contact .contact__right div{
        align-items: center;
        font-size: 40px;
    }
    .about-contact .contact__right div span{
        font-size: 16px;
    }
    .about-contact .contact__right .btn__red{
        margin: 50px auto 0;
    }
    .help__content{
        flex-direction: column;
    }
    .help__right{
        max-width: 100%;
    }
}
@media screen and (max-width: 768px){
    .header__top--content{
        gap: 20px;
        align-items: center;
    }
    .header__address{
        display: none;
    }
    .btn__menu{
        display: flex;
        background: transparent;
        border: none;
        height: 30px;
        width: 30px;
    }
    .btn__menu svg{
        width: 100%;
        height: 100%;
    }
    .nav{
        display: none;
    }
    .nav.active{
        display: flex;
        position: absolute;
        width: 100%;
        z-index: 9;
    }
    .menu{
        flex-direction: column;
        gap: 10px;
    }
    .menu__item:last-child{
        margin-left: 0;
    }
    .banner__title{
        font-size: 40px;
    }
    .banner__text{
        font-size: 16px;
    }
    .services{
        padding-top: 60px;
    }
    .section__title {
        font-size: 40px;
    }
    .autoservice__content{
        padding: 30px;
    }
    .repair__left{
        max-width: 100%;
    }
    .price{
        padding-top: 80px;
    }
    .repair-contact{
        margin-top: 80px;
    }
    .diagnostics{
        padding-top: 80px;
    }
    .gallery{
        padding-top: 80px;
    }
    .gallery__item{
        width: calc(100%/ 2 - 10px);
    }
    .faq__left{
        max-width: 100%;
    }
    .faq__left img{
        width: 100%;
        object-fit: cover;
    }
    .tuning__item{
        width: 100%;
    }
    .tuning__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .news__content{
        padding: 20px;
    }
    .news__item:first-child .news__title, .news__item:nth-child(2) .news__title {
        font-size: 18px;
    }
    .news__title{
        font-size: 18px;
    }
    .news__tag span{
        font-size: 12px;
        padding: 5px 10px;
    }
    .news__item:first-child .news__date, .news__item:nth-child(2) .news__date {
        font-size: 14px;
    }
    .news__date{
        font-size: 14px;
    }
    .news__title{
        margin-bottom: 10px;
    }
    .news__img img{
        height: 280px;
    }
    .team__item{
        width: calc(100%/2 - 10px);
    }
    .team{
        padding-top: 80px;
    }
    .help{
        padding-top: 80px;
    }
    .about .repair__left img{
        height: auto;
    }
    .about .repair__right{
        padding-left: 0;
    }
}
@media screen and (max-width: 600px){

    .banner__title{
        font-size: 34px;
    }
    .banner__left{
        padding: 20px;
    }
    .service__item{
        width: 100%;
    }
    .autoservice__left{
        max-width: 100%;
    }
    .feature__item{
        width: 100%;
    }
    .section__title {
        font-size: 30px;
    }
    .calculator__left{
        max-width: 400px;
    }
    .mark__item{
        width: calc(100%/3);
    }
    .mark__item:nth-child(3n){
        border-right: 0;
    }
    .mark__item:nth-last-child(-n+3){
        border-top:1px solid #D5D5D5 ;
    }
    .footer__col h3{
        text-align: center;
    }
    .footer__menu a{
        text-align: center;

    }
    .footer__menu {
        align-items: center;
    }
    .contact__right .btn__red{
        text-align: center;
        justify-content: center;
    }
    .point__item{
        width: 100%;
    }
    .points{
        padding-top: 80px;
    }
    .diagnostic__item{
        width: 100%;
    }
    .faq__title{
        padding: 15px 65px 15px 30px;
    }
    .faq__title:after{

        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
    }
    .faq__item[open] .faq__title:after{
        background-size: 100% 100%;
    }
    .contact__left img{
        width: 100%;
    }
    .breadcrumbs__list{
        flex-wrap: wrap;
    }
    .repair-contact .contact__right{
        padding-left: 20px;
    }
    .project__left{
        height: 400px;
    }
    .project__point--btn{
        width: 30px;
        height: 30px;
    }
    .project__point:first-child {
         top: 54px;
         left: 23%;
    }
    .project__point--content {
        width: 250px;
        left: 38px;
    }
    .project__point--content h3{
        font-size: 14px;
    }
    .project__point--content p{
        font-size: 12px;
    }
    .project__point:nth-child(2) {
        top: 185px;
        left: 10%;
    }
    .project__point:nth-child(4) {
        bottom: 130px;
        right: 25%;
    }
    .project__point:nth-child(3) {
        top: 180px;
        left: 39%;
    }
    .project__point:nth-child(5) {
        bottom: 70px;
        right: 50%;
    }
    .project__point:nth-child(5) .project__point--content{
        bottom: 0;
    }
    .project__point:nth-child(4) .project__point--content {
        left: -260px;
    }
    .repair__actions .btn__red{
        width: 100%;
    }
    .tuning__content{
        padding: 20px;
    }
    .news__item, .news__item:nth-child(2), .news__item:first-child{
        width: 100%;
    }
    .related-news .news__item {
        width: 100%;
    }
    .news-inner h2{
        font-size: 30px;
    }
    .news__images{
        flex-direction: column;
    }
    .news__images img{
        width: 100%;
    }
    .about-gallery .section__title{
        font-size: 30px;
    }
    .about-gallery .gallery__item:first-child, .about-gallery .gallery__item:nth-child(2), .about-gallery .gallery__item:nth-child(3), .about-gallery .gallery__item:nth-child(4){
        width: calc(100%/2 - 6px);
    }
    .about-gallery .gallery__item:nth-child(5){
        width: 100%;
    }
    .about .repair__right{
        padding-top: 0;
    }
}
@media  screen and (max-width: 480px) {
    .history__item{
        width: 100%;
    }
    .team__item h3{
        margin-top: 10px;
        font-size: 18px;
    }
    .team__item p{
        font-size: 14px;
    }
    .team__list{
        gap: 20px;
    }
    .help__right h3{
        font-size: 24px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__logo {
        width: 100px;
    }
    .banner__content{
        margin-top: 20px;
    }
    .banner__features{
        flex-wrap: wrap;
    }
    .calculator__right{
        padding: 30px;
    }
    .section__title{
        line-height: 34px
    }
    .contact__right h2{
        font-size: 30px;
    }
    .contact__right{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer__col{
        width: 100%;
    }
    .footer__logo{
        width: 100px;
        margin-bottom: 10px;
    }
    .footer__address p:first-child{
        font-size: 16px;
    }
    .footer__address p{
        font-size: 14px;
    }
    .footer__address .btn__red{
        font-size: 14px;
    }
    .footer__link{
        font-size: 14px;
    }
    .footer__col h3{
        font-size: 16px;
    }
    .footer__menu a {
        font-size: 12px;
        margin-bottom: 0;
    }
    .footer__bottom p{
        font-size: 12px;
    }
    .btn__call{
        width: 80px;
        height: 80px;
        right: 20px;
        top: 60px;
    }
    .faq__right{
        padding-top: 0;
    }
    .faq__title{
        padding: 15px 65px 15px 30px;
        font-size: 18px;
    }
    .repair__actions{
        flex-wrap: wrap;
        justify-content: center;
    }
    .repair__actions .btn__blue:first-child{
        width: 100%;
    }
    .price__row{
        flex-direction: column;
    }
    .price__top{
        font-size: 18px;
    }
    .diagnostic__item{
        padding: 20px;
    }
    .repair__right .section__title{
        font-size: 24px;
        line-height: 34px;
    }
    .project__points{
        display: none;
    }
    .tuning{
        padding-top: 80px;
    }
    .projects{
        padding-top: 80px;
    }
    .news__img img {
        height: 250px;
    }
    .contact-page .repair__right{
        padding-right: 30px;
    }
}